.divider {
    height: 80vh;
    padding: 10vh 10vw;
    @media screen and (max-width: 768px) {
        padding: 10vh 0;
    }
    &__container {
        position: relative;
        aspect-ratio: 8/5;
        height: 80vh;
        width: 80vw;
        @media screen and (max-width: 768px) {
            width: 100vw;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .overlay {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-transform: uppercase;
        color: white;
        font-size: 1.6rem;
        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }
        text-align: center;
    }

    .top-tri {
        position: absolute;
        width: 20vw;
        height: auto;
        max-width: 150px;
        max-height: 150px;
        top: -30px ;
        left: 80%;
        z-index: 1;
    }

    .bottom-tri {
        position: absolute;
        width: 20vw;
        height: auto;
        max-width: 150px;
        max-height: 150px;
        bottom: -30px;
        left: 20%;
        z-index: 1;
    }
}

.top-tri,
.bottom-tri {
  transition: transform 0.3s ease-out;
}

.title {
    &__content {
        height: 100vh;
        width: 100%;
        @media screen and (max-width: 768px) {
            height: 95vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h2 {
        font-weight: bold;
        font-size: clamp(36px,6vw,62px);
        margin-top: 0;
    }
    .overlay {
        position: absolute;
        margin: 0;
        top: 50%;
        transform: translate(5%, -50%);
        z-index: 1;
        text-transform: uppercase;
        color: white;
        font-size: 1rem;
        width: 45%;
        text-align: left;
        opacity: 0;
        animation: fadeIn .56s forwards;
        animation-delay: 1s;
        @media screen and (max-width: 768px) {
            font-size: 0.5rem;
            width: 85%;
        }
    }
    .pattern {
        width: 25%;
        height: 100%;
        position: absolute;
        margin: 0;
        top: 0;
        transform: translateX(-100%);
        animation: slideBar .56s .23s forwards;
        @media screen and (max-width: 768px) {
            height: 95vh;
        }
    }
}

.footer {
    &__content {
        height: 60vh;
        width: 100%;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h1 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: clamp(36px,1vw,62px);
        margin-top: 0;
    }
    .overlay {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: white;
        font-size: 1rem;
        width: 90%;
        text-align: center;
        @media screen and (max-width: 768px) {
            font-size: 0.8rem;
        }
        p {
            margin-bottom: 30px;
        }
        .button {
            @media screen and (max-width: 768px) {
                display: block;
                padding-left: 0;
                padding-right: 0;
                width: 90vw;
            }
        }
    }
}

.button {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 6px 75px;
    border-radius: 50px;
}
.section-article {
    margin: auto;
    padding: 0;
    width: 87.5%;
    .article {
        margin: auto;
        min-height: 400px;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
        @media screen and (max-width: 768px) {
           flex-direction: column !important;
           gap: 3rem;
        }
        &__image {
            aspect-ratio: 1/1;
            width: 50%;
            @media screen and (max-width: 768px) {
                aspect-ratio: 4/3;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
            }
            .left-tri {
                position: absolute;
                top: -10%;
                width: 20vw;
                height: auto;
                max-width: 100px;
                max-height: 100px;
            }
        }
        &__content {
            width: 50%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
    .revert {
        flex-direction: row-reverse;
    }
}


@keyframes slideBar {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}