body {
  margin: 0;
}

header {
  height: 50px;
}

#menu-main-navigation {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-item {
  padding: 15px;
}

.menu-item *{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Futura';
}

.navbar {
  position: relative;
}

.menu-toggle {
  display: none;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  height: 50px;
}

.hamburger {
  width: 25px;
  height: 2px;
  background-color: black;
}

.hamburger:before,
.hamburger:after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease;
}

.hamburger:before {
  transform: translateY(-10px);
}

.hamburger:after {
  transform: translateY(8px);
}

.open.hamburger {
  background-color: transparent;
}

.open.hamburger:before {
  transform: translateY(0) rotate(45deg) translateX(1px);
}

.open.hamburger:after {
  transform: translateY(0) rotate(-45deg) translateX(1px);
}

@media screen and (max-width: 850px) {
    .menu-toggle {
      display: flex;
    }
    .navbar {
      display: none;
    }
    .navbar.open {
      display: block;
    }
    #menu-main-navigation {
      display: flex;
      flex-direction: column;
    }
}
