body {
  margin: 0;
}

header {
  height: 50px;
}

#menu-main-navigation {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-item {
  padding: 15px;
}

.menu-item *{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Futura';
}

.navbar {
  position: relative;
}

.menu-toggle {
  display: none;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  height: 50px;
}

.hamburger {
  width: 25px;
  height: 2px;
  background-color: black;
}

.hamburger:before,
.hamburger:after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease;
}

.hamburger:before {
  transform: translateY(-10px);
}

.hamburger:after {
  transform: translateY(8px);
}

.open.hamburger {
  background-color: transparent;
}

.open.hamburger:before {
  transform: translateY(0) rotate(45deg) translateX(1px);
}

.open.hamburger:after {
  transform: translateY(0) rotate(-45deg) translateX(1px);
}

@media screen and (max-width: 850px) {
    .menu-toggle {
      display: flex;
    }
    .navbar {
      display: none;
    }
    .navbar.open {
      display: block;
      background-color: white;
      z-index: 1000;
    }
    #menu-main-navigation {
      display: flex;
      flex-direction: column;
    }
}

.overlay {
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  box-shadow: 0 10px 35px -10px rgba(0, 255, 38, 0.5);
  width: fit-content;
  transform: skew(-30deg);
  * {
      transform: skew(30deg);
      margin: 30px;
      color: black;
  }
}

.main {
  &__img {
      @media (orientation: portrait) {
          width: 100%;
          height: auto;
      }
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      .overlay {
          transform: skew(-25deg);
          padding-left: 400px;
          max-width: 45%;
          position: absolute;
          left: -300px;
          * {
              transform: skew(25deg);
              margin: 30px;
              color: black;
              @media (max-width: 800px) {
                  transform: skew(10deg);
              }
          }
          h1 {
              font-size: 4rem;
              font-weight: 900;
              @media (max-width: 800px) {
                  font-size: 2.5rem;
              }
              @media (max-width: 665px) {
                  font-size: 2rem;
              }
              @media (max-width: 400px) {
                  font-size: 1.2rem;
              }
          }
          h2 {
              text-align: center;
              @media (max-width: 400px) {
                  font-size: 1rem;
              }
          }

          @media (max-width: 1440px) {
              padding-left: 340px;
          }
          @media (max-width: 800px) {
              transform: skew(-10deg);
          }
          @media (max-width: 600px) {
              padding-left: 100px;
              left: -100px;
              max-width: 75%;
          }
      }
  }
}

article {
  box-shadow: 0 10px 35px -10px rgba(0, 255, 38, 0.5);
  margin: 100px auto;
  padding: 50px;
  width: fit-content;
  height: fit-content;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
      text-align: center;
      max-width: 70vw;
  }
  @media (max-width: 800px) {
      margin: 30px auto;
      padding: 10px;
  }
}

.sub {
  &__img {
      @media (orientation: portrait) {
          width: 100%;
          height: auto;
      }
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
}
.overlay {
  position: absolute;
  h2 {
      text-align: center;
      @media (max-width: 400px) {
          font-size: 1rem;
      }
  }
  @media (max-width: 800px) {
      margin: 30px;
  }
}
}

.last {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  &__img {
      @media (orientation: portrait) {
          width: 50%;
          height: auto;
          @media (max-width: 800px) {
              width: 100%;
          }
      }
      position: relative;
      width: 50%;
      height: 70vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      .overlay {
          padding-left: 400px;
          position: absolute;
          left: -300px;
          h2 {
              text-align: center;
              @media (max-width: 400px) {
                  font-size: 1rem;
              }
          }
          @media (max-width: 1440px) {
              padding-left: 200px;
              left: -150px;
          }
          @media (max-width: 1024px) {
              padding-left: 100px;
              left: -100px;
          }
      }
      @media (max-width: 800px) {
          width: 100%;
          height: auto;
      }
  }
  &__content {
      * {
          max-width: 40vw;
          @media (max-width: 800px) {
              max-width: 70vw;
          }
      }
  }
  @media (max-width: 800px) {
      flex-direction: column;
      gap: 0;
  }
}

.revert {
  flex-direction: row-reverse;
}
